$main-bg: slateblue;
$table: white;
$table__border: beige;

$sandwich: goldenrod;
$sandwich__crust: rgb(145, 111, 1);

$tomato: tomato;
$lettuce: hsla(129, 100%, 33%, 1);
$cheese: hsla(59, 100%, 78%, 1);
$meat: hsla(359, 63%, 81%, 1);
