@import './palette';

.EnemyGrid,
.PlayerGrid {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 14fr 1fr;

  .top-labels {
    align-items: center;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: space-around;
    width: 100%;
  }

  .left-labels {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    justify-content: space-around;
  }

  .right-spacer {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 2;
    justify-content: space-around;
    width: 1.59rem;
  }

  main {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-gap: 0;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  p {
    align-items: center;
    color: $table__border;
    display: flex;
    font-size: 0.75rem;
    justify-content: center;
    &.left {
      margin: 0 0.5rem;
    }
  }

  span.GridSquare {
    align-items: center;
    background: $table;
    border: 1px solid $table__border;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;

    @media (max-width: 500px) {
      width: 33px;
      height: 33px;
    }
    @media (max-width: 400px) {
      width: 30px;
      height: 30px;
    }

    &.active {
      background: none;
      border: none;
    }

    &:hover {
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  span .bread {
    border: 3px solid $sandwich__crust;
    // prettier-ignore
    box-shadow: 
		1px 1px $tomato,
		3px 3px $lettuce,
		4px 4px $cheese,
		5px 5px $meat,
		7px 7px $sandwich__crust;
    background: $sandwich;
    border-radius: 20%;
    width: 80%;
    height: 80%;
  }
}

.PlayerGrid span.GridSquare {
  background: none;
  border: none;

  &.active {
    background: none;
    border: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  &:hover {
    background: none;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.PlayerGrid.green,
.EnemyGrid.green {
  background-image: url('../assets/green.png');
}
.PlayerGrid.red,
.EnemyGrid.red {
  background-image: url('../assets/red2.jpg');
}
.PlayerGrid.black,
.EnemyGrid.black {
  background-image: url('../assets/black2.png');
  background-size: 600px;
}
.PlayerGrid.blue,
.EnemyGrid.blue {
  background-image: url('../assets/blue3.png');
}
