@import './palette';
@import './mixins';

.MySammies {
	align-items: center;
	// border:1px solid red;
	border-radius: 4px;
	display:flex;
	flex-direction: column;
	margin:1rem;
	padding:0;
	max-width:80%;
	header {
		align-self:flex-start;
		margin:1rem 0 0 2rem;
		z-index:1;

		.orient-button, .cancel-button {
			@include noSelect;
			cursor: pointer;
			font-size: 2rem;
			padding:1rem;
		}
		.orient-button.vertical {
			transform: rotate(90deg);
		}
	}
	&.green {
		background-image: url('../assets/green.png');
	}
	&.red {
		background-image: url('../assets/red2.jpg');
	}
	&.black {
		background-image: url('../assets/black2.png');
		background-size: 600px;
	}
	&.blue{
		background-image: url('../assets/blue3.png');
	}
}

.MySammies__body {
	// border:1px solid white;
	border-radius: 4px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}


.MySammies__sammy__container {
	// border:1px solid red;
	padding:1rem;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.MySammies__sammy--draggable {
	align-items: center;
	display: flex;
	justify-content: center;
	&:hover, &.active {
		cursor:pointer;
		transform: translate(-7px,-7px);
	}
	&.active.vertical  {
		transform: rotate(90deg);
	}
}

.MySammies__sammy {
	align-items: center;
	background: $table;
	border: 1px solid $table__border;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 44px;
	height: 44px;
	@media (max-width: 500px) {
		width: 33px;
		height: 33px;
	}
	@media (max-width: 400px) {
		width: 30px;
		height: 30px;
	}

	&.bread {
		border-top: 3px solid $sandwich__crust;
		border-bottom: 3px solid $sandwich__crust;
		border-left: 1px solid $sandwich__crust;
		border-right: 1px solid $sandwich__crust;
		// prettier-ignore
    box-shadow: 
		1px 1px $tomato,
		3px 3px $lettuce,
		4px 4px $cheese,
		5px 5px $meat,
		7px 7px $sandwich__crust;
    background: $sandwich;
		&.left {
			border-radius: 30% 0 0 30%;
		}
		&.right {
			border-radius: 0 30% 30% 0;
		}
		&.mid {
			border-radius: 0;
		}
	}
	
	&.label {
		background:none;
		border:none;
		height:30px;
		font-size:1rem;
		justify-self: center;
		margin-top:4px;
	}
}